<!DOCTYPE html>
<html lang="tr">
  <head>
    <%- include('../layouts/head',{ title: 'Ana Sayfa | Emmi'}) %>,
    <script src="/js/script.js" defer></script>
  </head>
  <body>
    <!--
    #Üst uygulama çubuğu
    -->
    <%- include("../partials/top_app_bar")%>
    <main class="main"></main>
    <!--
    #Footer
    -->
    <%- include("../layouts/footer")%>
  </body>
</html>
